<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <title>Registro de usuario</title>
</head>
<body>
    <div class="container mt-4">
        <h1>Registre un nuevo usuario</h1>
        <div class="row">
            <div class="col-sm-8 col-lg-4 col-md-6">
                <form class="form" action="/auth/signup" method="post" role="form" autocomplete="off" enctype="multipart/form-data">
                    <legend>Ingrese sus datos:</legend>
                    <div class="input-group mt-4">
                        <span class="input-group-text">Nombres y Apellidos</span>
                        <input id="name" name="name" type="text" aria-label="First name" placeholder="Nombres" class="form-control" required autofocus>
                        <input id="lastNames" name="lastNames" type="text" aria-label="Last name" placeholder="Apellidos" class="form-control" required autofocus>
                    </div>
                    <div class="form-group mt-4">
                        <input id="address" name='address' placeholder="Dirección" class="form-control" type="text" required autofocus>
                    </div>
                    <div class="form-group mt-4">
                        <input id="age" name='age' placeholder="Edad" class="form-control" type="number" required autofocus>
                    </div>
                    <div class="form-group mt-4">Ingrese su teléfono:
                        <input id="phone" type="tel" name="phone" required>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="image" class="form-label">Suba una foto de perfil</label>
                        <input id="image" name="image" class="form-control form-control-sm" type="file">
                    </div>
                    <div class="form-group mt-4">
                        <input id="email" name='email' placeholder="Email" class="form-control" type="email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input id="username" name='username' placeholder="Nombre de usuario" class="form-control" type="text" required autofocus>
                    </div>
                    <div class="form-group">
                        <input id="password" name='password' placeholder="Contraseña" class="form-control" type="password" required autofocus>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="d-grid gap-2">
                            <input class="btn btn-danger" type="submit" value="Registrar">
                            <a class="btn btn-outline-danger" href="/auth/login">Ya tengo cuenta</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            preferredCountries: ["ar"],
            utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>   
</body>
</html>