<div class="row bootstrap snippets">
    <div class="box box-primary direct-chat direct-chat-primary" >
        <div class="box-header with-border">
            <h3 class="box-title" id="title-chat">Chat</h3>
        </div>
        <div class="box-body">
            <div class="direct-chat-messages">
            <div id="messages"></div> 
        </div>
        <div class="box-footer">
            <form id="formChat">
                <!-- <input type="email" id="email" placeholder="Ingrese su e-mail" class="form-control input-email" required /> -->
                <input type="text" id="textoMensaje" placeholder="Ingrese su mensaje..." class="form-control input-textoMensaje">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary btn-dark"></button>
                </span>
            </form>
        </div>
    </div>
</div>
