<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="navbar-brand a-websocket" href="/">
                    <iconify-icon icon="carbon:code"></iconify-icon>
                    Proyecto final
                </a>
            </li>
        </ul>
        <div id="div-email" class="d-flex navbar-brand">
            <%=email%>
        </div>
    </div>
</nav>