body{
    background:#eee;
    font-family: 'Times New Roman', Times, serif;
}

/* header */

header {
    margin-bottom: 1.5rem;
}

.navbar {
    background: linear-gradient(white, #eee);
}

.a-websocket {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconify {
    margin-right: 1rem;
}

/* formulario */

.form-productos {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

/* tabla */

th, tr {
    text-align: center;
}

/* chat */

/* css chat general */

#title-chat {
    font-size: 2rem;
}

#formChat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-email {
    width: 40rem;
    margin-bottom: 0.5rem;
}

.input-textoMensaje {
    width: 40rem;
    height: 5rem;
    margin-bottom: 0.5rem;
}

#chatName {
    color: black;
}

#chatText {
    color: #fff;
    background-color: #051924;
}

/* css chat codepen */
.box {
    position: relative;
    background: #ffffff;
    border: 3px solid #051924;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
    border-top-color: #051924;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header.with-border {
    border-bottom: 3px solid #051924;
}

.box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.direct-chat-messages {
    -webkit-transform: translate(0,  0);
    -ms-transform: translate(0,  0);
    -o-transform: translate(0,  0);
    transform: translate(0,  0);
    padding: 10px;
    height: 450px;
    overflow: auto;
}
.direct-chat-name {
    color: blue;
    font-weight: 600;
}
.direct-chat-timestamp {
    color: #999;
}

.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 5px;
    color: rgb(15, 52, 173);
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

